@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>I really, really like anime! This site barely scratches the surface of this art form by giving a brief overview of what it is, some of my recommendations for starter anime, and some interesting notes on how anime is created!&nbsp;</p>
<p>Thank you for visiting! :DD</p>
<hr />
<p>Anime refers to a style of animation that originated in Japan and has become a global phenomenon. It encompasses a diverse range of genres and themes, catering to audiences of all ages. Known for its colorful artwork, fantastical themes, and vibrant characters, anime often explores complex narratives and emotional depth. With a rich cultural heritage, anime has gained widespread popularity worldwide, and its influence extends beyond traditional animation to various forms of media, including manga, light novels, and video games.</p>
<a href="https://www.reddit.com/r/anime/wiki/legal_streams/">Here is a list of places where you can watch anime for free!</a>