@page "/production"

<PageTitle>Notes on Production</PageTitle>

<h1>Some Interesting Notes on Anime Production!</h1>

<p>The production of anime involves several key stages. First, the creators develop a concept, often adapting it from manga, light novels, or original ideas. Then, the script is written, and character designs are crafted. The animation process typically involves key animators creating crucial frames, followed by in-between animators filling in the intermediate frames. Once the animation is complete, other elements like voice acting, sound effects, and music are added during the post-production phase. The final product is a culmination of collaboration among various artists, animators, directors, and producers, resulting in the visually stunning and narratively engaging anime that audiences enjoy.</p>
<p>Here is an example from Attack on Titan featuring the character Levi Ackerman!</p>
<p>Key frames: </p>
<p><img src="https://i.redd.it/xvdpm09j96j31.jpg" alt="AOT" class="img-responsive" /></p>
<p><a href="https://youtu.be/97rz8KrEbjY?si=sVKVCp1ykeYA-oCU&amp;t=117">Voice acting</a></p>
<p><a href="https://youtu.be/4TyYKZmcx6c?si=5JJ7uJaYgDOGV3sz&amp;t=8">Key animation</a></p>
<p><a href="https://youtu.be/vQFDAhxJX2Q?si=eHCSxZL_dlV5IC3P&amp;t=53">Final anime sequence</a></p>
