@page "/rec"

<PageTitle>Recommendations :D</PageTitle>

<h1>Recommendations :D</h1>

Mob Psycho 100 revolves around Kageyama Shigeo, known also as  "Mob" (hence the title), a socially awkward eighth-grader with powerful psychic abilities. Despite his extraordinary powers, Mob desires a normal life and suppresses his emotions to avoid unleashing his psychic energy uncontrollably. He works part-time for a self-proclaimed psychic named Reigen Arataka, who exploits Mob's abilities for financial gain. The series explores themes of self-discovery, personal growth, and the consequences of unchecked power, blending intense action sequences with humour and psychological depth.

TLDR: 8th grader born with incredible superpowers learns self-improvement the OG way, pretty animation go brr, made me cry so many times, uplifting and deep themes!

<a href="https://www.youtube.com/watch?v=umqzznKblJ0&ab_channel=CrunchyrollCollection">Mob Psycho 100 Opening</a>



Violet Evergarden centres around Violet Evergarden, a former soldier who, after the war, becomes an "Auto Memory Doll" working to transcribe people's thoughts and emotions into written letters. The series delves into Violet's journey of self-discovery and emotional development as she grapples with understanding and expressing human emotions. Known for its breathtaking animation, intricate storytelling, and emotional depth, Violet Evergarden has been praised for its poignant exploration of the human condition and the power of words. The series has garnered widespread acclaim for its beautiful visuals and compelling narrative.

TLDR: soldier learns how to be human, pretty animation go brr, also made me cry so many times

<a href="https://www.youtube.com/watch?v=LaokHCLggB4&ab_channel=AngeloCalla">Sample scene from Violet Evergarden</a>



Bleach is known for its action-packed narrative and supernatural elements. The story follows Kurosaki Ichigo, a teenager with the ability to see ghosts, who inadvertently acquires the powers of a Soul Reaper—a celestial being responsible for defending humans from malevolent spirits and guiding the deceased to the afterlife. As Ichigo grapples with his newfound responsibilities, the series unfolds into a complex tale of spiritual warfare, friendship, and self-discovery. Bleach gained widespread popularity for its dynamic fight sequences, intricate plot twists, and a diverse cast of characters, each with unique abilities and backstories.

TLDR: some of the coolest character designs ever, cool swords boom boom bam

<a href="https://www.youtube.com/watch?v=almG54sVBuw&ab_channel=vizmedia">Bleach Opening</a>



Jojo's Bizarre Adventure is a long-running and influential manga and anime series that spans multiple generations of the Joestar family. The series is known for its distinctive art style, creative battles, and unique Stand system, where characters possess supernatural powers represented by physical manifestations called “Stands”. Each story arc introduces a new protagonist from the Joestar bloodline and explores different genres, from supernatural horror to high-stakes battles. Jojo's Bizarre Adventure has left a significant impact on pop culture, with its memorable characters, catchphrases, and iconic poses, contributing to its status as a beloved and enduring franchise.

TLDR: IS THIS A JOJO REFERECE???? aka the most creative power system to exist

<a href="https://www.youtube.com/watch?v=rhGSOBMo2lU&ab_channel=Rodog">Compilation of Jojo scenes</a>
