@page "/bio"
<h1>Bio and Overview of Site</h1>
<p>Hi there! My name is Jin :D</p>
<p>I'm a 2nd year CS student at SFU. I like writing (scifi and fantasy novels, as well as code!), reading (Margaret Atwood and Araki Hirohiko are among my favourite authors), and watching anime with my brother (who is very epic)!</p>
    <p>This site is my portfolio and self-introduction!'</p>
<a href="/">Go Back</a>
@code {

}