@page "/bio"
<h1>Bio and Overview of Site</h1>
<p>Hi there! My name is Jin :D</p>
<p>I'm a 2nd year CS student at SFU. This site is my portfolio and self-introduction!'</p>
<a href="/">Go Back</a>
@code {

}
