@page "/"
<h1>Jin's Portfolio</h1>
<nav>
    <a href="bio">Bio</a>
    <a href="aboutme">About Me</a>
    <a href="skillsStrengths">Skills and Strengths</a>
    <a href="achievementsAwards">Achievements and Awards</a>
    <a href="hobbiesIntrests">HobbiesInterests</a>
</nav>
<h1>Projects</h1>
<nav>
    <a>sdfdfghssfdgsfdg</a>
    <img />
    <a>asdfasdfasfdadsf</a>
    <img />
    <a>asdfasdfasdfadfsg</a>
    <img />
    <a>adsfdasfadsfa</a>
    <img />
    <a>asdfasdfasdfasdf</a>
    <img />
</nav>
<style>
    nav {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
</style>
@code
{

}
